<h2>Редактирвоать <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, class: "form-control", "ng-model"=>"formData.user['name']"%>
  </div>
  <div class="field">
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar, autofocus: true, class: "form-control", fileread: "avatar" %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.number_field :age, autofocus: true, class: "form-control", "ng-model"=>"formData.user['age']"%>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website, autofocus: true, class: "form-control", "ng-model"=>"formData.user['website']"%>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, autofocus: true, class: "form-control", "ng-model"=>"formData.user['phone']"%>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :adress, autofocus: true, class: "form-control", "ng-model"=>"formData.user['adress']"%>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control", "ng-model"=>"formData.user['email']"%>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control", "ng-model"=>"formData.user['password']" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", "ng-model"=>"formData.user['password_confirmation']" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control", "ng-model"=>"formData.user['current_password']" %>
  </div>

  <div class="actions">
    <a class="btn btn-success" ng-click="saveUser(formData)">Сохранить</a>
  </div>
<% end %>