html ng-app="resourses"
head
  title Resourses
  = stylesheet_link_tag    'application', media: 'all'
  script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"
  = javascript_include_tag 'application'
  = csrf_meta_tags 
body
  ng-include src="'/shared/nav'"
  .wrap
    ng-view